type init_cpufreq_governor, domain;
type init_cpufreq_governor_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(init_cpufreq_governor)

allow init_cpufreq_governor vendor_toolbox_exec:file rx_file_perms;
allow init_cpufreq_governor sysfs_devices_system_cpu:file rw_file_perms;
allow init_cpufreq_governor vendor_file:file execute_no_trans;
